:root {
  --choco-navbar: #BCAAA4;   /* café muy suave */
  --choco-gold: #C5A572;     /* dorado suave */
  --choco-bg: #FAF9F7;       /* fondo claro */
}

.navbar {
  background-color: var(--choco-navbar) !important;
}
.navbar .nav-link {
  color: black !important; /* café oscuro para contraste */
}
.navbar .nav-link:hover {
  color: var(--choco-gold) !important;
}

footer {
  background-color: var(--choco-navbar);
  color: #3E2723;
}
.card-img-top {
  height: 250px;         /* puedes ajustar el alto (ej: 200px o 300px) */
  object-fit: cover;     /* recorta la imagen sin deformarla */
}